@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
body {
  display: grid;
  place-content: center;
  height: 100vh;

  font-family: 'Raleway', sans-serif;

}

a {
  color: unset;
  text-decoration: none;
}

.avatar {
  width: 150px;
}

.card {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 400px;
  background: #303030;
  color: #2b2839;
  border-radius: 8px;
  box-shadow: 10px 10px 40px rgb(0, 0, 0, .08)
}

.card:hover {
  box-shadow: 2px 2px 8px rgb(0, 0, 0, .08);
}

.content {
  position: relative;
  text-align: center;
}

.content > h3,p,h4 {
  background-color: #16e0bd;
  padding-inline: .25em;
  margin: 0;
}

h4 {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 382px) {
  h4 {
    position: relative;
  }
}





/* utility */

.dotted-border {
  border: dotted blue 1PX;
}